OPENROUTER_API_KEY = "your_openrouter_api_key_here"
PINECONE_API_KEY = "your_pinecone_api_key_here"
PINECONE_INDEX_NAME = "chatbot"
OPENROUTER_MODEL = "openai/gpt-4o-mini"
HCM_SCHEMA_JSON_PATH = "hcm_structured.json"
HCM_GRAPH_PATH = "hcm_graph.pkl"
